<div style="margin-bottom:50px" class="container">
<p id="notice"><%= notice %></p>

<center><h1>Trustees Minutes, 1746-1894</h1></center>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @trustees_minutes %><br>
    <%= paginate @trustees_minutes, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>


<% if !@trustees_minutes.blank? %>
  <table align="center" class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Volume</th>
        <th>Page</th>
        <% if user_signed_in? %>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @trustees_minutes.each do |trustees_minute| %>
        <tr>
          <td><%= trustees_minute.subject %></td>
          <td><%= trustees_minute.volume %></td>
          <td><%= trustees_minute.page %></td>
          <% if user_signed_in? %>
          <td><%= link_to 'Show', trustees_minute %></td>
          <td><%= link_to 'Edit', edit_trustees_minute_path(trustees_minute) %></td>
          <td><%= link_to 'Destroy', trustees_minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <center><p style="margin-top:100px;">Your search did not find any matches.</p></center>
<% end %>


<br>
<% if user_signed_in? %>
<%= link_to 'New Trustees minute', new_trustees_minute_path %>
<% end %>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @trustees_minutes %><br>
    <%= paginate @trustees_minutes, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div style="width:100%; text-align:center;">
<%= link_to "View All Records", trustees_minutes_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/trustees-minutes-1746-1894", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>