<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Trustees Minutes, 1746-1894</h1>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @trustees_minutes %><br>
    <%= paginate @trustees_minutes, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>


<% if !@trustees_minutes.blank? %>
  <table class="table table--striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Volume</th>
        <th>Page</th>
        <% if user_signed_in? %>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @trustees_minutes.each do |trustees_minute| %>
        <tr>
          <td><%= trustees_minute.subject %></td>
          <td><%= trustees_minute.volume %></td>
          <td><%= trustees_minute.page %></td>
          <% if user_signed_in? %>
          <td><%= button_to 'Show', trustees_minute, method: :get, class: 'btn btn-xs btn-info' %></td>
          <td><%= button_to 'Edit', edit_trustees_minute_path(trustees_minute), method: :get, class: 'btn btn-xs btn-warning' %></td>
          <td><%= button_to 'Destroy', trustees_minute, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p style="margin-top:100px;">Your search did not find any matches.</p>
<% end %>


<br>
<% if user_signed_in? %>
<%= button_to 'New Trustees minute', new_trustees_minute_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @trustees_minutes %><br>
    <%= paginate @trustees_minutes, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div class="center-block">
<%= link_to "View All Records", trustees_minutes_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/trustees-minutes-1746-1894", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
