<p id="notice"><%= notice %></p>

<p>
  <strong>Access Id:</strong>
  <%= @faculty.access_id %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @faculty.lname %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @faculty.fname %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @faculty.birth %>
</p>

<p>
  <strong>Birth Year:</strong>
  <%= @faculty.birth_year %>
</p>

<p>
  <strong>Death:</strong>
  <%= @faculty.death %>
</p>

<p>
  <strong>Leave:</strong>
  <%= @faculty.leave %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @faculty.dept %>
</p>

<p>
  <strong>Box:</strong>
  <%= @faculty.box %>
</p>

<p>
  <strong>Series:</strong>
  <%= @faculty.series %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
