<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<center><h1>Princeton University Graduate Alumni Index, 1839-1998</h1></center>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @graduates %><br>
    <%= paginate @graduates, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<% if !@graduates.blank? %>
<table align="center" class="table table-striped">
  <thead>
    <tr>
      <th>Box</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Year</th>
      <th>Department</th>
      <th>Deathdate</th>
      <th>Photos</th>
      <th>Oversize</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @graduates.each do |graduate| %>
      <tr>
        <td><%= graduate.box %></td>
        <td><%= graduate.lastname %></td>
        <td><%= graduate.firstname %></td>
        <td><%= graduate.year %></td>
        <td><%= graduate.department %></td>
        <td><%= graduate.deathdate %></td>
        <td><%= graduate.photos %></td>
        <td><%= graduate.oversize %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', graduate, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_graduate_path(graduate), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', graduate, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= button_to 'New Graduate', new_graduate_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @graduates %><br>
    <%= paginate @graduates, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div style="width:100%; text-align:center;">
<%= link_to "View All Records", graduates_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/princeton-university-graduate-alumni-index-1839-1998", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
