<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Nassau Literary Magazine Index, 1842-1942</h1>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @nassau_literatures %><br>
    <%= paginate @nassau_literatures, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<% if !@nassau_literatures.blank? %>
<table class="table table--striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Class Year</th>
      <th>Title</th>
      <th>Date</th>
      <th>Issue no</th>
      <th>Pages</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @nassau_literatures.each do |nassau_literature| %>
      <tr>
        <td><%= nassau_literature.lname %></td>
        <td><%= nassau_literature.fname %></td>
        <td><%= nassau_literature.classyear %></td>
        <td><%= nassau_literature.title %></td>
        <td><%= nassau_literature.date %></td>
        <td><%= nassau_literature.issue_no %></td>
        <td><%= nassau_literature.pages %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', nassau_literature, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_nassau_literature_path(nassau_literature), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', nassau_literature, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= button_to 'New Nassau literature', new_nassau_literature_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @nassau_literatures %><br>
    <%= paginate @nassau_literatures, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div class="center-block">
<%= link_to "View All Records", nassau_literatures_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/nassau-literary-magazine-index-1842-1942", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
