<p id="notice"><%= notice %></p>

<p>
  <strong>Lname:</strong>
  <%= @nassau_literature.lname %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @nassau_literature.fname %>
</p>

<p>
  <strong>Classyear:</strong>
  <%= @nassau_literature.classyear %>
</p>

<p>
  <strong>Title:</strong>
  <%= @nassau_literature.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @nassau_literature.date %>
</p>

<p>
  <strong>Issue no:</strong>
  <%= @nassau_literature.issue_no %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @nassau_literature.pages %>
</p>

<%= link_to 'Edit', edit_nassau_literature_path(@nassau_literature) %> |
<%= link_to 'Back', nassau_literatures_path %>
