<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Princeton Memorabilia Collection</h1>

<%= render '/shared/pages', items: @memorabilia %>

<% if !@memorabilia.blank? %>
<table class="table table--striped">
  <thead>
    <tr>
      <th>Box</th>
      <th>Category</th>
      <th>Description</th>
      <th>Classyear</th>
      <th>Year</th>
      <th>Reunion</th>
      <th>Provenance</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @memorabilia.each do |memorabilium| %>
      <tr>
        <td nowrap><%= memorabilium.box %></td>
        <td><%= memorabilium.category %></td>
        <td><%= memorabilium.description %></td>
        <td><%= memorabilium.classyear %></td>
        <td><%= memorabilium.year %></td>
        <td><%= memorabilium.reunion %></td>
        <td><%= memorabilium.provenance %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', memorabilium, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_memorabilium_path(memorabilium), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', memorabilium, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= button_to 'New Memorabilium', new_memorabilium_path, method: :get, class: 'btn btn-success' %>
<% end %>

<%= render '/shared/pages', items: @memorabilia %>

<div class="center-block">
<%= link_to "View All Records", mudd_dbs_path + memorabilia_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/princeton-memorabilia-collection", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
