<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Honorary Degree Recipients, 1748-2001</h1>

<%= render '/shared/pages', items: @honoraries %>

<% if !@honoraries.blank? %>
<table class="table table--striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Degree</th>
      <th>Year Awarded</th>
      <th>Year of Death</th>
      <th>File?</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @honoraries.each do |honorary| %>
      <tr>
        <td><%= honorary.lname %></td>
        <td><%= honorary.fname %></td>
        <td><%= honorary.degree %></td>
        <td><%= honorary.year %></td>
        <td><%= honorary.death %></td>
        <td><%= honorary.file %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', honorary, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_honorary_path(honorary), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', honorary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= button_to 'New Honorary', new_honorary_path, method: :get, class: 'btn btn-success' %>
<% end %>

<%= render '/shared/pages', items: @honoraries %>

<div class="center-block">
<%= link_to "View All Records", mudd_dbs_path + honoraries_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/honorary-degree-index-1748-2001", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
