<div style="margin-bottom:50px" class="container">
<p id="notice"><%= notice %></p>

<center><h1>Princeton Undergraduate Alumni Index, 1748-1920</h1></center>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @alumni %><br>
    <%= paginate @alumni, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<table align="center" class="table table-striped">
  <thead>
    <tr>
      <th>Box</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Class</th>
      <th>Graduate</th>
      <th>Photos</th>
      <th>Oversize</th>
      <% if user_signed_in? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @alumni.each do |alumn| %>
      <tr>
        <td><%= alumn.box %></td>
        <td><%= alumn.lname %></td>
        <td><%= alumn.fname %></td>
        <td><%= alumn.year %></td>
        <td><%= alumn.graduate %></td>
        <td><%= alumn.photos %></td>
        <td><%= alumn.oversize %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', alumn %></td>
        <td><%= link_to 'Edit', edit_alumn_path(alumn) %></td>
        <td><%= link_to 'Destroy', alumn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if user_signed_in? %>
<%= link_to 'New Alumn', new_alumn_path %>
<% end %>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @alumni %><br>
    <%= paginate @alumni, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div style="width:100%; text-align:center;">
<%= link_to "View All Records", alumni_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/undergraduate-alumni-index-1748-1920", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>