<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Princeton Undergraduate Alumni Index, 1748-1920</h1>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @alumni %><br>
    <%= paginate @alumni, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<table class="table table--striped">
  <thead>
    <tr>
      <th>Box</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Class</th>
      <th>Graduate</th>
      <th>Photos</th>
      <th>Oversize</th>
      <% if user_signed_in? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @alumni.each do |alumn| %>
      <tr>
        <td><%= alumn.box %></td>
        <td><%= alumn.lname %></td>
        <td><%= alumn.fname %></td>
        <td><%= alumn.year %></td>
        <td><%= alumn.graduate %></td>
        <td><%= alumn.photos %></td>
        <td><%= alumn.oversize %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', alumn, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_alumn_path(alumn), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', alumn, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if user_signed_in? %>
<%= button_to 'New Alumn', new_alumn_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @alumni %><br>
    <%= paginate @alumni, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div class="center-block">
<%= link_to "View All Records", alumni_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/undergraduate-alumni-index-1748-1920", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
