<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Princeton University Historical Audio-Visual Collection</h1>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @audio_visuals %><br>
    <%= paginate @audio_visuals, :theme => 'twitter-bootstrap-3', params: { script_name: "/mudd-dbs" }%>
  </div>
</div>

<% if !@audio_visuals.blank? %>
<table class="table table--striped">
  <thead>
    <tr>
      <th>Box</th>
      <th>Item</th>
      <th>Topic</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Date</th>
      <th>Format</th>
      <th>B/W or Color?</th>
      <th>Duration</th>
      <th>Notes</th>
      <th>Dub Copy?</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @audio_visuals.each do |audio_visual| %>
      <tr>
        <td><%= audio_visual.box %></td>
        <td><%= audio_visual.item %></td>
        <td><%= audio_visual.topic %></td>
        <td><%= audio_visual.title %></td>
        <td><%= audio_visual.creator %></td>
        <td><%= audio_visual.year %></td>
        <td><%= audio_visual.format %></td>
        <td><%= audio_visual.color %></td>
        <td><%= audio_visual.duration %></td>
        <td><%= audio_visual.notes %></td>
        <td><%= audio_visual.copied %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', audio_visual, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_audio_visual_path(audio_visual), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', audio_visual, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= button_to 'New Audio visual', new_audio_visual_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @audio_visuals %><br>
    <%= paginate @audio_visuals, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div class="center-block">
<%= link_to "View All Records", mudd_dbs_path + audio_visuals_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/princeton-university-historical-audio-visual-collection", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
