<p id="notice"><%= notice %></p>

<center><h1>Trustee Index, 1746-2001</h1></center>

<table border=1 align="center" class="datatable">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Type of Trustee</th>
      <th>Dates of service</th>
      <th>Status</th>
      <th>First year served</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @trustees.each do |trustee| %>
      <tr>
        <td><%= trustee.full_name %></td>
        <td><%= trustee.trustee_type %></td>
        <td><%= trustee.dates_of_service %></td>
        <td><%= trustee.university_status %></td>
        <td><%= trustee.first_year %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', trustee %></td>
        <td><%= link_to 'Edit', edit_trustee_path(trustee) %></td>
        <td><%= link_to 'Destroy', trustee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Trustee', new_trustee_path %>
<% end %>

<div style="width:100%; text-align:center;">
<br>
<%= link_to 'New Search', rbsc_site + "/databases/trustee-index-1746-2001" %>
<br>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path %>
</div>
