<p id="notice"><%= notice %></p>

<p>
  <strong>Access:</strong>
  <%= @trustee.access_id %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @trustee.full_name %>
</p>

<p>
  <strong>Trustee type:</strong>
  <%= @trustee.trustee_type %>
</p>

<p>
  <strong>Dates of service:</strong>
  <%= @trustee.dates_of_service %>
</p>

<p>
  <strong>University status:</strong>
  <%= @trustee.university_status %>
</p>

<p>
  <strong>First year:</strong>
  <%= @trustee.first_year %>
</p>

<%= link_to 'Edit', edit_trustee_path(@trustee) %> |
<%= link_to 'Back', trustees_path %>
