<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Princeton Alumni Weekly Memorial Index, 1894-2011</h1>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @memorials %><br>
    <%= paginate @memorials, :theme => 'twitter-bootstrap-3', params: { script_name: "/mudd-dbs" }%>
  </div>
</div>

<% if !@memorials.blank? %>
<table class="table table--striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Undg Class</th>
      <th>Grad Class</th>
      <th>Publication</th>
      <th>Volume</th>
      <th>No</th>
      <th>Date</th>
      <th>Page</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @memorials.each do |memorial| %>
      <tr>
        <td><%= memorial.subject %></td>
        <td><%= memorial.class_year %></td>
        <td><%= memorial.class_grade %></td>
        <td><%= memorial.publication %></td>
        <td><%= memorial.volume %></td>
        <td><%= memorial.no %></td>
        <td><%= memorial.publish_date %></td>
        <td><%= memorial.page %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', memorial, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_memorial_path(memorial), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', memorial, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<% if user_signed_in? %>
<%= button_to 'New Memorial', new_memorial_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @memorials %><br>
    <%= paginate @memorials, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div class="center-block">
<%= link_to "View All Records", memorials_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/princeton-alumni-weekly-memorial-index-1894-2011", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
