<div style="margin-bottom:50px" class="container">
<p id="notice"><%= notice %></p>

<center><h1>Architectural Presentation Boards</h1></center>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @archboards %><br>
    <%= paginate @archboards, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<% if !@archboards.blank? %>
<table align="center" class="table table-striped">
  <thead>
    <tr>
      <th>Numbers assigned</th>
      <th>Drawing title</th>
      <th>Drawing number</th>
      <th>Project type</th>
      <th>Type of Drawing</th>
      <th>Board date</th>
      <th>Board dimensions</th>
      <th>Color</th>
      <th>View of Drawing</th>
      <th>Elevation</th>
      <th>Additional Comments</th>
      <th>Firm Name</th>
      <th>Contractor Type</th>
      <th>Firm Name</th>
      <th>Contractor Type</th>
      <th>Firm Name</th>
      <th>Contractor Type</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @archboards.each do |archboard| %>
      <tr>
        <td><%= archboard.numbers_assigned %></td>
        <td><%= archboard.drawing_title %></td>
        <td><%= archboard.drawing_number %></td>
        <td><%= archboard.project_type %></td>
        <td><%= archboard.drawing_type %></td>
        <td><%= archboard.board_date %></td>
        <td><%= archboard.board_dimensions %></td>
        <td><%= archboard.color %></td>
        <td><%= archboard.drawing_view %></td>
        <td><%= archboard.elevation %></td>
        <td><%= archboard.comments %></td>
        <td><%= archboard.contractor1_name %></td>
        <td><%= archboard.contractor1_type %></td>
        <td><%= archboard.contractor2_name %></td>
        <td><%= archboard.contractor2_type %></td>
        <td><%= archboard.contractor3_name %></td>
        <td><%= archboard.contractor3_type %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', archboard %></td>
        <td><%= link_to 'Edit', edit_archboard_path(archboard) %></td>
        <td><%= link_to 'Destroy', archboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Archboard', new_archboard_path %>
<% end %>

<div class="center-block">
  <div style="display:block" class="pagination">
    <%= page_entries_info @archboards %><br>
    <%= paginate @archboards, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div style="width:100%; text-align:center;">
<%= link_to "View All Records", archboards_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/architectural-presentation-boards", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>