<div style="margin-bottom:50px" class="container">
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary pull-right') %>
<% end %>
<p id="notice"><%= notice %></p>

<h1 class="center-block">Architectural Presentation Boards</h1>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @archboards %><br>
    <%= paginate @archboards, :theme => 'twitter-bootstrap-3', params: { script_name: "/mudd-dbs" }%>
  </div>
</div>

<% if !@archboards.blank? %>
<table class="table table--striped">
  <thead>
    <tr>
      <th>Numbers assigned</th>
      <th>Drawing title</th>
      <th>Drawing number</th>
      <th>Project type</th>
      <th>Type of Drawing</th>
      <th>Board date</th>
      <th>Board dimensions</th>
      <th>Color</th>
      <th>View of Drawing</th>
      <th>Elevation</th>
      <th>Additional Comments</th>
      <th>Firm Name</th>
      <th>Contractor Type</th>
      <th>Firm Name</th>
      <th>Contractor Type</th>
      <th>Firm Name</th>
      <th>Contractor Type</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @archboards.each do |archboard| %>
      <tr>
        <td><%= archboard.numbers_assigned %></td>
        <td><%= archboard.drawing_title %></td>
        <td><%= archboard.drawing_number %></td>
        <td><%= archboard.project_type %></td>
        <td><%= archboard.drawing_type %></td>
        <td><%= archboard.board_date %></td>
        <td><%= archboard.board_dimensions %></td>
        <td><%= archboard.color %></td>
        <td><%= archboard.drawing_view %></td>
        <td><%= archboard.elevation %></td>
        <td><%= archboard.comments %></td>
        <td><%= archboard.contractor1_name %></td>
        <td><%= archboard.contractor1_type %></td>
        <td><%= archboard.contractor2_name %></td>
        <td><%= archboard.contractor2_type %></td>
        <td><%= archboard.contractor3_name %></td>
        <td><%= archboard.contractor3_type %></td>
        <% if user_signed_in? %>
        <td><%= button_to 'Show', archboard, method: :get, class: 'btn btn-xs btn-info' %></td>
        <td><%= button_to 'Edit', edit_archboard_path(archboard), method: :get, class: 'btn btn-xs btn-warning' %></td>
        <td><%= button_to 'Destroy', archboard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if user_signed_in? %>
<%= button_to 'New Archboard', new_archboard_path, method: :get, class: 'btn btn-success' %>
<% end %>

<div class="center-block">
  <div class="pagination">
    <%= page_entries_info @archboards %><br>
    <%= paginate @archboards, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>

<div class="center-block">
<%= link_to "View All Records", mudd_dbs_path + archboards_path, class: "btn btn-default" %>
<%= link_to 'New Search', rbsc_site + "/databases/architectural-presentation-boards", class: "btn btn-default" %>
<%= link_to 'Return to the Mudd Library website', rbsc_site + mudd_path, class: "btn btn-default" %>
</div>
</div>
