<p id="notice"><%= notice %></p>

<p>
  <strong>Numbers assigned:</strong>
  <%= @archboard.numbers_assigned %>
</p>

<p>
  <strong>Original assigned:</strong>
  <%= @archboard.original_assigned %>
</p>

<p>
  <strong>Building info sheet:</strong>
  <%= @archboard.building_info_sheet %>
</p>

<p>
  <strong>Drawing title:</strong>
  <%= @archboard.drawing_title %>
</p>

<p>
  <strong>Drawing number:</strong>
  <%= @archboard.drawing_number %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @archboard.project_type %>
</p>

<p>
  <strong>Drawing type:</strong>
  <%= @archboard.drawing_type %>
</p>

<p>
  <strong>Board date:</strong>
  <%= @archboard.board_date %>
</p>

<p>
  <strong>Board dimensions:</strong>
  <%= @archboard.board_dimensions %>
</p>

<p>
  <strong>Color:</strong>
  <%= @archboard.color %>
</p>

<p>
  <strong>Drawing view:</strong>
  <%= @archboard.drawing_view %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @archboard.elevation %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @archboard.comments %>
</p>

<p>
  <strong>Contractor1 type:</strong>
  <%= @archboard.contractor1_type %>
</p>

<p>
  <strong>Contractor1 name:</strong>
  <%= @archboard.contractor1_name %>
</p>

<p>
  <strong>Contractor2 type:</strong>
  <%= @archboard.contractor2_type %>
</p>

<p>
  <strong>Contractor2 name:</strong>
  <%= @archboard.contractor2_name %>
</p>

<p>
  <strong>Contractor3 type:</strong>
  <%= @archboard.contractor3_type %>
</p>

<p>
  <strong>Contractor3 name:</strong>
  <%= @archboard.contractor3_name %>
</p>

<p>
  <strong>Proposal:</strong>
  <%= @archboard.proposal %>
</p>

<p>
  <strong>Not constructed:</strong>
  <%= @archboard.not_constructed %>
</p>

<p>
  <strong>Bw fiche:</strong>
  <%= @archboard.bw_fiche %>
</p>

<%= link_to 'Edit', edit_archboard_path(@archboard) %> |
<%= link_to 'Back', archboards_path %>
